{% extends 'doctor-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>

    <style type="text/css">

        .card-header{
            background-color: white;
            color: #blue;
            text-align: center;
        }
    </style>

</head>

    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">

                </div>
                <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">

                    {% if msg %}
                        <b style="color: blue;">{{msg}}</b>
                    {% endif %}

                    <form method="post" action="{% url 'change-password' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="card-header">
                                <h3>Change Password</h3>
                            </div>
                            <div class="col-12">
                                <input type="password" name="oldpassword" class="form-control border-0 bg-light px-4" placeholder="Your Old Password" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="password" name="newpassword" class="form-control border-0 bg-light px-4" placeholder="Your New Password" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="password" name="cnewpassword" class="form-control border-0 bg-light px-4" placeholder="Your Confirm New Password" style="height: 55px;">
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <br><br><br><br>
    

</body>
</html>
{% endblock %}